<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="assets/css/style.css" />
<title>CSS3 EBOOK</title>
</head>
<body>
<main>
  <section class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>This is page heading
      </div>
      <div class="col-xs-12 col-sm-6">
      {{> image index1}}
      </div>
       <div class="col-xs-12 col-sm-6">
      {{> image index1}}
      </div>
    </div>
  </section>
</main>
</body>
</html>
